/* begin plaatjes homepage */

div.centerbox {   /*center login*/
  position: absolute;   
  top: 50%;
  left: 50%;   
  transform: translate(-50%, -50%); 
}    

div.plaatje1 {   /*plaatje rechts*/
  position: absolute;   
  top: 50%;
  left: 75%;   
  transform: translate(-50%, -50%); 
}

div.plaatje2 {   /*plaatje links*/
  position: absolute;   
  top: 50%;
  left: 25%;   
  transform: translate(-50%, -50%); 
}

/* eind plaatjes homepage */



div.sell_left {   /*to sell knop*/
  position: absolute;   
  top: 50%;
  left: 33%;   
  transform: translate(-50%, -50%) ; 
  text-align: center;
}

div.buy_right {   /*to buy knop*/
  position: absolute;   
  top: 50%;
  left: 66%;   
  transform: translate(-50%, -50%) ; 
  text-align: center;
}



/* Hier staan dingen van de details pagina van sell */

div.details {
	
}

div.selection_list{
	    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}

/* Hier stoppen de dingen van de details pagina van sell */